<header {
    display: inline-block; 
    width: 300px;
    margin-left: calc((100%-300px) / 2); 
    margin-right: calc((100%-300px) / 2); 
    background-color: aqua;
}
main {
display: inline-block; 
    width: 300px;
    margin-left: calc((100%-300px) / 2); 
    margin-right: calc((100%-300px) / 2); 
    background-color:yellowgreen;
}